<div class="header">
    ¿Necesitas ayuda?
</div>
<div class="scrolling content">
    <div class="description">
        <div class="ui segment">
            <h1>&iexcl;Bienvenido a ULTRA!</h1>
            <p>
                Nuestro equipo de soporte te puede ayudar a resolver tus dudas y problemas, por favor envía un email a
                <strong>soporte@ultrascrapper.com</strong> y te responderemos lo antes posible.
            </p>
            <p>Como se anunci&oacute; en los grupos, esta es una versi&oacute;n beta, es decir, no es una versi&oacute;n final y por ende tiene errores y bugs que a&uacute;n faltan resolver. Estamos conscientes de ellos, pero por las medidas que est&aacute;n tomando algunas plataformas, decidimos liberarlo antes.</p>
            <p></p>
            <h2>FAQ &ndash; Preguntas Frecuentes</h2>
            <h3>&iquest;Qu&eacute; significa cada elemento de la interfaz?</h3>
            <ul>
                <li> <strong>Balance</strong>: es la cantidad de dinero a cobrar desde tu &uacute;ltimo pago</li>
                <li> <strong>Perfiles navegados</strong>: son los perfiles navegados correctamente, estos son los que efectivamente se pagan</li>
                <li> <strong>Perfiles navegados hoy</strong>: Son los perfiles completados en un d&iacute;a (que va de 0:00am UTC a 23:59 UTC). Para mayor informaci&oacute;n sobre los horarios, revisar m&aacute;s abajo</li>
                <li> <strong>Errores</strong>: Son los perfiles que resultaron en error o fallaron durante su extracci&oacute;n.</li>
                <li> <strong>Quiero navegar .. perfiles por d&iacute;a</strong>: esta opci&oacute;n permite configurar la cantidad de perfiles a navegar por d&iacute;a, en las pruebas el n&uacute;mero perfecto es 200, si pones m&aacute;s de 200 puede que LinkedIn te alerte que usas herramientas automatizadas, es preferible usar m&aacute;s de 1 cuenta para ganar m&aacute;s, que aumentar este valor.</li>
                <li> <strong>Iniciar</strong>: ac&aacute; se encuentran los botones que inician y detienen la navegaci&oacute;n de perfiles. El s&iacute;mbolo de &ldquo;play&rdquo; (en verde) es para iniciar la extracci&oacute;n, y el s&iacute;mbolo de &ldquo;stop&rdquo; (en rojo) es para detenerla.</li>
            </ul>
            <h3>Tipos de errores:</h3>
            <ul>
                <li><strong>Errores de distancia</strong>: Esto significa que el perfil que se intent&oacute; navegar es superior a nivel 3. Si ves que hay muchos errores de distancia lo puedes solucionar muy f&aacute;cil, simplemente agrega personas de EEUU, con 5 o 6 que agregues ya deber&iacute;a disminuir mucho.</li>
                <li><strong>Perfiles no disponibles</strong>: son errores generados por LinkedIn, por ejemplo, si se cae LinkedIn o si el perfil que se intenta navegar ha dejado de existir.</li>
                <li><strong>Otros errores</strong>: son errores que no entran en las categor&iacute;as anteriores, y que no conocemos de donde provienen.</li>
            </ul>
            <h3>&iquest;C&oacute;mo utilizo m&aacute;s cuentas de LinkedIn?</h3>
            <p>Basta con hacer click en el bot&oacute;n &ldquo;Agregar cuenta LinkedIn&rdquo; e iniciar sesi&oacute;n en la nueva pesta&ntilde;a. Por ahora tenemos un error: Al abrir varias pesta&ntilde;as a la vez, llega un punto (dependiendo de la resoluci&oacute;n del monitor) en el que la barra derecha cubre las pesta&ntilde;as de la derecha y no se pueden ver. Ya sabemos de este error y estamos trabajando en ello.</p>
            <h3>&iquest;C&oacute;mo usar una cuenta nueva de LinkedIn?</h3>
            <p>Para evitar bloqueos de cuentas de LinkedIn es recomendable darles actividad real a las cuentas al principio e iniciar con pocos perfiles por d&iacute;a para luego ir subiendo. Puedes crear todas las cuentas de LinkedIn que quieras.</p>
            <p>Se recomienda que la primera semana de crear la cuenta le des actividad como seguir a empresas, dar like/recomendar, todo tal cual como si fuera una cuenta real. Haz pocas solicitudes de amistad por d&iacute;a, que no superen las 10-15. Cuando ya tengas algunos amigos, ampl&iacute;a tu c&iacute;rculo con los mismos perfiles que LinkedIn te recomienda, pero sin apuros, porque si no igual LinkedIn cerrar&aacute; la cuenta. Despu&eacute;s de la primera semana si puedes empezar a usar ULTRA extrayendo 10-20* perfiles y aumentando el l&iacute;mite diariamente. </p>
            <p></p>
            <p>*Algunos empiezan con 50 perfiles y de ah&iacute; van aumentando, todo depender&aacute; del movimiento que le hayas dado al perfil antes de empezar</p>
            <h3>&iquest;C&oacute;mo es el pago?</h3>
            <p>El pago es mensual por medio de Bitcoin, y se <strong>emite del 1r d&iacute;a h&aacute;bil al 5to d&iacute;a h&aacute;bil de cada mes</strong> a todos los usuarios que hayan superado el m&iacute;nimo de 5 d&oacute;lares <strong>antes del 1ro</strong> a las 0:00am UTC. Es acumulativo, si un mes no llegas, se acumula para el siguiente, aunque es realmente simple llegar al m&iacute;nimo. </p>
            <p></p>
            <h3>&iquest;Qu&eacute; billeteras Bitcoin puedo utilizar?</h3>
            <p>Podemos emitir pagos a cualquier billetera de la red Bitcoin que que poseas y proporcione una direcci&oacute;n v&aacute;. Sin embargo, <strong>recomendamos leer claramente los T&eacute;rminos y Condiciones de uso de cada plataforma.</strong></p><p style="text-align: center; color: #CE0000;"><strong>Ultra no se hace responsable por pagos enviados a billeteras Bitcoin cuyos dep&oacute;sitos m&iacute;nimos sean superiores al monto acumulado utilizando nuestra aplicaci&oacute;n.</strong></p>
            <p></p>
            <p>En la barra derecha de la aplicaci&oacute;n, hay una opci&oacute;n llamada &ldquo;Mi Cuenta&rdquo;, donde podr&aacute;s manejar los datos asociados a tu cuenta de ULTRA. Entre las opciones, est&aacute; ingresar/cambiar tu wallet de BTC.</p>
            <p></p>
            <h3>&iquest;Cu&aacute;nto se gana y qu&eacute; son los referidos?</h3>
            <p>Se paga 1 d&oacute;lar cada 1000 perfiles navegados, adem&aacute;s de que hay un sistema de referidos. Cada usuario que refiera a otro recibir&aacute; un aumento en su pago cada 1000 perfiles, de esta manera:</p>
            <p>0 referidos activos -&gt; 1 USD por 1000</p>
            <p>5 referidos activos -&gt; 1.1 USD por 1000</p>
            <p>10 referidos activos -&gt; 1.2 USD por 1000</p>
            <p>50 referidos activos -&gt; 2 USD por 1000</p>
            <p>De esta manera pueden ganar m&aacute;s cada vez que refieren a alguien. Obviamente, si refieren a 1 sola persona activa tambi&eacute;n aumentar&aacute;, no es necesario llegar a los 5 referidos para beneficiarse del aumento, con 1, 2, 3 o 4 referidos &iexcl;Ya aumentar&aacute;n el pago que recibir&aacute;n cada 1000 perfiles!</p>
            <ul>
                <li> <strong>Referido activo</strong>: para considerarlo activo el usuario deber&aacute; completar un m&iacute;nimo de 4000 requests* durante el mes (no importa si son errores de distancia o lo que sea, el motivo de esto es evitar fraudes y que los usuarios se creen 20 usuarios y luego los abandonen).</li>
            </ul>
            <p>*4000 requests se consigue con 1 sola cuenta de LinkedIn dej&aacute;ndola funcionar sola durante 13 d&iacute;as a 300 requests por d&iacute;a (algo totalmente viable... por ejemplo si les crean una cuenta a sus familiares y le dejan funcionando la cuenta en sus casas van a llegar seguro).</p>
            <p>En el panel a la derecha, en la opci&oacute;n de &ldquo;Referidos&rdquo;, ver&aacute;n la cantidad de requests de sus referidos con una barra de progreso para que sea todo lo m&aacute;s transparente posible.</p>
            <h3>&iquest;Cu&aacute;l es la hora de reinicio?</h3>
            <p>La hora de reinicio es aproximadamente a las 00:00am UTC, que ser&iacute;an:</p>
            <p>10pm en R&iacute;o de Janeiro, Brasil (UTC-2)</p>
            <p>9pm en Buenos Aires, Argentina; en Montevideo, Uruguay y en Santiago de Chile, Chile (UTC-3)</p>
            <p>8pm en Caracas, Venezuela y en La Paz, Bolivia (UTC-4)</p>
            <p>7pm en Bogot&aacute;, Colombia; Lima, Per&uacute; y Quito, Ecuador (UTC-5)</p>
            <p>Soluci&oacute;n a problemas comunes</p>
            <p></p>
            <ol>
                <li><strong>Aparece un mensaje "No LinkedIn user logged in"</strong>: esto sucede porque a&uacute;n no te has logueado en LinkedIn desde una pesta&ntilde;a nueva, la soluci&oacute;n es abrir una pesta&ntilde;a, acceder a <a href="http:///"></a> e iniciar sesi&oacute;n con la cuenta que quieres dejar navegando perfiles. Una vez hecho esto haces click en el &iacute;cono de la extensi&oacute;n y el problema deber&iacute;a estar solucionado.</li>
            </ol>
            <p></p>
            <ol start="2">
                <li><strong>Obtengo muchos errores de distancia:</strong></li>
            </ol>
            <p>Esto sucede porque los perfiles que la extensi&oacute;n intenta navegar son de nivel superior a 3. Para solucionar esto tenemos un perfil que puedes agregar como contacto que te acortar&aacute; la distancia con los perfiles de EEUU que navega la extensi&oacute;n, por favor agr&eacute;galo: <a href="https://www./in/mark-claiton-97866b171/">https://www./in/mark-claiton-97866b171/</a>, adicionalmente te recomendamos agregar contactos de EEUU para reducir a&uacute;n m&aacute;s las posibilidades de errores de distancia.</p>
            <ol start="3">
                <li><strong>Obtengo muchos errores ("Perfiles no disponibles")</strong>:</li>
            </ol>
            <p>Esto sucede por problemas en LinkedIn. Es normal que aparezcan algunos errores, pero si al llegar a los 200 requests m&aacute;s del 25% son Perfiles no disponibles, por favor comun&iacute;cate con nosotros al correo soporte@ultrascrapper.com, indicando el correo con el que te registraste y los valores que aparecen en la extensi&oacute;n. </p>
            <p></p>
            <ol start="4">
                <li><strong>Se me olvid&oacute; la contrase&ntilde;a</strong></li>
            </ol>
            <p>Si cerraste la sesi&oacute;n de ULTRA y no te acuerdas de tu contrase&ntilde;a, por favor comun&iacute;cate con nosotros al correo soporte@ultrascrapper.com para poder recuperar la informaci&oacute;n de tu cuenta.</p>
            <ol start="5">
                <li><strong>No suma en el balance</strong></li>
            </ol>
            <p>Si presentas problemas de suma en el balance, lo m&aacute;s probable es es que hayas creado una cuenta de UltraScrapper, la hayas usado con un perfil de LinkedIn, y ahora creaste otra cuenta de UltraScrapper que est&aacute;s usando con el mismo perfil de LinkedIn que usaste anteriormente. Esto lo que ocasiona es que el saldo que vayas sumando, se refleje en la cuenta que hab&iacute;as usado al principio y no en la actual. </p>
            <p>Para revisar este tipo de casos, por favor escr&iacute;benos a soporte@ultrascrapper.com indicando el correo desde el cual presentas el problema, y el enlace /in/ de los perfiles de LinkedIn desde los que realizas la extracci&oacute;n (es decir, los que asociaste con UltraScrapper). As&iacute; revisamos si es un tema de asociaci&oacute;n de cuentas.</p>
        </div>
    </div>
</div>
<div class="actions">
    <button class="ui green button" (click)="modal.approve('approved')" autofocus>OK</button>
</div>
