<div class="browser">
    <div class="chrome-tabs">
        <div class="chrome-tabs-content">
            <div class="chrome-tab" *ngFor='let account of accounts; let i = index' [style.transform]="'translate3d(' + (i*178) + 'px, 0, 0)'"
                [attr.active]="selectedTabId === account.tabId ? '' : null" (click)="changeSelectedTab(account.tabId)">
                <div class="chrome-tab-dividers"></div>
                <div class="chrome-tab-background"></div>
                <div class="chrome-tab-content">
                    <div class="chrome-tab-favicon" style="background-image: url('assets/img/linkedin-favicon.ico')"></div>
                    <div class="chrome-tab-title" [attr.title]="account.fullName ? account.fullName : account.tabId">{{
                        account.fullName ? account.fullName : account.tabId }} </div>
                    <div class="chrome-tab-drag-handle"></div>
                    <div class="chrome-tab-close" (click)="removeTab(account.tabId)">x</div>
                </div>
            </div>
            <div class="chrome-tab add-tab" [style.transform]="'translate3d(' + ((accounts.length * 178) + 10) + 'px, 0, 0)'"
                (click)="addTab()">
                <div class="chrome-tab-content">
                    <div class="chrome-tab-title">+</div>
                </div>
            </div>
            <div class="chrome-tabs-bottom-bar"></div>
        </div>
    </div>
    <app-toolbar *ngIf="selectedExtractor" [extractor]="selectedExtractor"></app-toolbar>
    <div class="webViewContainer">
        <webview #webViewFor *ngFor='let account of accounts' [attr.id]="account.tabId" [class.activeWebView]="account.tabId === selectedTabId"
            [attr.partition]="'persist:' + account.tabId" preload="injection/injectedScript.js" useragent="{{account?.userAgent?.agentString}}"></webview>
    </div>
    <app-statusbar *ngIf="selectedExtractor" [extractor]="selectedExtractor"></app-statusbar>
</div>
